body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111111;
}

.logo{
    height: 60px;
    width: 90px;
    position: relative;
    left: -800px;
    top: -20px;
}

.item-list{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    color: #ECECEC;
    list-style: none;
}

.hero{
    display: flex;
    line-height: 2px;
}

.arthur{
    height: 750px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greet{
    font-size: 26px;
    color: #ED303F;
    font-weight: 600;
}

.designation{
    font-size: 75px;
    color: #ECECEC;
}

.loren{
    color: #ECECEC;
    width: 570px;
    line-height: 20px;
}

.about{
    width: 160px;
    height: 50px;
    background-color: #ED303F;
    border: none;
}

.black-box{
    padding: 50px;
    background-color: #181818;
    display: flex;
    height: 800px;
    width: 650px;
}

.ui-design img{
    height: 50px;
    width: 50px;
}

.product-design img{
    height: 50px;
    width: 50px;
}

.branding img{
    height: 50px;
    width: 50px;
}

.first-row{
    display: flex;
    margin-top: 50px;
    margin-left: 250px;
    height: 290px;
}

.product-design{
    box-shadow: 0 15px 10px #181818;
    width: 250px;
    height: 250px;
    margin-left: 50px;
    background-color: #ED303F;
    padding: 10px;
    color: #ECECEC;
}

.ui-design,.branding{
    box-shadow: 0 15px 10px #181818;
    width: 250px;
    height: 250px;
    margin-left: 50px;
    background-color: #1E1E1E;
    padding: 10px;
    color: #ECECEC;
}

.ui-design p, .product-design p, .branding p{
    width: 180px;
    font-size: 14px;
}

.ui-design h4, .product-design h4, .branding h4{
    text-align: center;
}

.second-row {
    gap: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 290px;
    height: 290px;
    padding: 10px;
    position: relative;
    left: -1210px;
    bottom: -400px;
    width: 1000px;
}

.big{
    box-shadow: 0 15px 10px #181818;
    width: 380px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}

.big h1{
    color: #ED303F;
    font-size: 100px;
    line-height: 5px;
    font-weight: 1200r;   
    text-align: center;
}

.big h3{
    text-align: center;
    color: #ECECEC;

}

.small{
    position: relative;
    left: -100px;
    top: -70px;
    box-shadow: 0 15px 10px #181818;
    height: 150px;
    width: 275px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #1E1E1E;
}

.small h1{
    color: #ED303F;
    font-size: 50px;
    line-height: 5px;
    font-weight: 1200r;   
    position: relative;
    top: 50px;
}

.small h3{
    position: relative;
    top: 50px;
    color: #ECECEC;

}

.featured{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.featured h1{
    color: #ECECEC;
    font-size: 25px;
    line-height: 2px;
}

.featured p{
    color: #ECECEC;
    font-size: 12px;
}

.featured button{
    height: 35px;
    width: 125px;
    color: #ECECEC;
    background-color: #ED303F;
    border: none;
}

.project img{
    box-shadow: 0 15px 10px #181818;
    padding: 50px;
    height: 200px;
    width: 300px;
    background-color: #1E1E1E;
}

.projects{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.project h2{
    color: #ECECEC;
    line-height: 2px;
}

.project h4{
    color: #ED303F;
}

.collab{
    padding: 40px;
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    width: 750px;
    margin: auto;
    background-color: #1E1E1E;
}

.work{
    justify-content: center;
}

.work h1{
    color: #ECECEC;
    width: 500px;
    font-size: 40px;
}

.work p{
    color: #ECECEC;
    width: 500px;
}

.collab button{
    height: 35px;
    width: 125px;
    color: #ECECEC;
    background-color: #ED303F;
    border: none;
    margin-top: 100px;
    margin-left: 20px;
}

.foot{
    padding: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    color: #ECECEC;
    list-style: none;
    gap: 20px;
}

.footer nav{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

#foo{
    height: 30px;
    width: 30px;
}

.white{
    background-color: #ECECEC;
}

.logo-footer{
    height: 60px;
    width: 90px;
    position: relative;
    left: -500px;
}

.footer{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
}

@media screen and (max-width:415px){
    body{
        margin: 0;
        padding: 0;
    }
    .item-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .logo{
        position: unset;
        padding: 0;
        margin: 0;
        width: 200px;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        float: left;
    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .arthur{
        width: 400px;
        margin-left: -60px;
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .greet{
        font-size: 25px;
        width: 310px;
    }
    .designation{
        font-size: 40px;
        width: 310px;
    }
    .loren{
        font-size: 18px;
        width: 310px;
    }
    .black-box{
        display: flex;
        flex-direction: column;
        height: 2000px;
    }
    .first-row{
        display: flex;
        flex-direction: column;
        position: relative;
        left: -330px;
        gap: 30px;       
    }
    .second-row{
        display: flex;
        flex-direction: column;
        position: relative;
        left: -550px;
        margin-top: 250px;
    }
    .big{
        position: relative;
        left: -200px;
    }
    .featured{
        display: flex;
        flex-direction: column;
    }
    .projects{
        display: flex;
        flex-direction: column;
    }
    .project{
        display: flex;
        flex-direction: column;
    }
    .project img{
        width: 220px;
    }
    .work{
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 100%;
    }
    .work h1{
        font-size: 25px;
        width: 250px;
    }
    .work p{
        font-size: 14px;
        width: 300px;
    }
    .collab button{
        position: relative;
        left: -640px;
        top: 100px;
    }
    .footer :first-child{
        position: unset;
        margin-left: 10px;
    }
}
